$header-size: 60px;
$aside-size: 250px;

.navbar {
  font-family: 'Mali', cursive;
  font-size: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: #111;
  color: #fff;
  height: 50px;
  height: $header-size;
  line-height: $header-size;
  .logo {
    margin-left: 10px;
    display: inline-block;
  }
  button {
    cursor: pointer;
    color: #fff;
    -webkit-appearance: none;
    margin: 0;
    padding: 0;
    border: none;
    height: $header-size;
    width: $header-size;
    vertical-align: top;
    background: transparent;
    border-right: 1px solid rgba(255, 255, 255, 0.7);
    margin-right: 15px;
    align-items: flex-start;
    // @include transition(background-color 0.3s linear);
    &:hover,
    &:focus,
    &.active {
      outline: none;
    }
    &:hover,
    &.active {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
  .logout {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    float: right;
    margin-right: 25px;
  }
}
