.dashboard {
  margin: 5px 5%;
  padding: 10px;
  flex-grow: 8;
  left: 86px;
  top: 115px;
  position: relative;
  overflow: auto;
  button {
    background-color: black;
    border-radius: 10px;
    color: white;
    margin-bottom: 15px;
    height: 25px;
    width: 33px;
    font-size: 1em;
    &:hover {
      background-color: #f1f1f1;
      color: black;
    }
  }
}
